<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1>Dojo Survey</h1>
        @model Survey
        <form asp-action="Submit" asp-controller="Home" method="post">
            <span  class="error" asp-validation-for="name"></span>
            <label for="name">Your Name:<input type="text" name="name"></label>
            <span  class="error" asp-validation-for="location"></span>
            <label for="location">Dojo Location:
                <select name="location">
                    <option value="OC">OC</option>
                    <option value="Burbank">Burbank</option>
                    <option value="Seattle">Seattle</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Berkeley">Berkeley</option>
                </select>
            </label>
            <span  class="error" asp-validation-for="language"></span>
            <label for="language">Favorite Language:
            <select name="language">
                <option value="C#">C#</option>
                <option value="Python">Python</option>
                <option value="JavaScript">JavaScipt</option>
                </select>
            </label>
            <label asp-for="comments"></label>
            <span class="error" asp-validation-for="comments"></span>
            <textarea name="comments"></textarea><hr>
            <button class="submit">Submit</button>
        </form>
    </div>
</body>
</html>